{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Lost &amp; Found</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
		<link rel="stylesheet" href='{% static "blog/css/bootstrap.min.css" %}'>
		<link rel="stylesheet" href='{% static "blog/css/ionicons.min.css" %}'>
		<link rel="stylesheet" href='{% static "blog/css/pace.css" %}'>
	    <link rel="stylesheet" href='{% static "blog/css/custom.css" %}'>

	    <!-- js -->
	    <script src='{% static "blog/js/jquery-2.1.3.min.js" %}'></script>
	    <script src='{% static "blog/js/bootstrap.min.js" %}'></script>
	    <script src='{% static "blog/js/pace.min.js" %}'></script>
	    <script src='{% static "blog/js/modernizr.custom.js"%}'></script>
	</head>

	<body>
	{% comment %} navbar {% endcomment %}
		<div class="container">	
			<header id="site-header">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-8">
						<div class="logo">
							<h1><a href="{% url 'blog-home' %}"><b>Lost</b> &amp; Found</a></h1>
							<!-- &amp; -->
						</div>
					</div><!-- col-md-4 -->
					<div class="col-md-8 col-sm-7 col-xs-4">
						<nav class="main-nav" role="navigation">
							<div class="navbar-header">
  								<button type="button" id="trigger-overlay" class="navbar-toggle">
    								<span class="ion-navicon"></span>
  								</button>
							</div>

							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  								<ul class="nav navbar-nav navbar-right">
    								<li class="cl-effect-11"><a href="{% url 'blog-home' %}" data-hover="Home">Home</a></li>
    								<!-- <li class="cl-effect-11"><a href="full-width.html" data-hover="Blog">Blog</a></li> -->
    								<li class="cl-effect-11"><a href="{% url 'blog-about' %}" data-hover="About">About</a></li>
									{% if not user.is_authenticated %}
    								<li class="cl-effect-11"><a href="{% url 'contact' %}" data-hover="Contact">Contact</a></li>
									{% endif %}

									{% if user.is_authenticated %}
									<li class="cl-effect-11"><a href="{% url 'dashboard' %}" data-hover="Dashboard">Dashboard</a></li>
    									<li class="cl-effect-11"><a href="{% url 'post-create' %}" data-hover="New">New</a></li>
    									<li class="cl-effect-11"><a href="{% url 'logout' %}" data-hover="Logout">Logout</a></li>
									{% endif %}
  								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>

						{% comment %} Search Bar {% endcomment %}

						{% comment %} <div id="header-search-box">
							<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
							<div id="search-form" class="search-form">
								<form role="search" method="get" id="searchform" action="#">
									<input type="search" placeholder="Search" required>
									<button type="submit"><span class="ion-ios-search-strong"></span></button>
								</form>				
							</div>
						</div> {% endcomment %}
					</div><!-- col-md-8 -->
				</div>
			</header>
		</div>

		{% block content %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-8">
						<article class="post post-1">
							{% block article %}
							{% endblock article %}
						</article>
					</main>
					{% block side_content %}
					{% endblock side_content %}
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-12" align = "center">
							<br>
							{% block pagination %}
							{% endblock pagination %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endblock content %}

		<footer id="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="copyright">&copy; 2014 ThemeWagon.com</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
			<nav>
				<ul>
					<li><a href="{% url 'blog-home' %}">Home</a></li>
					<!-- <li><a href="full-width.html">Blog</a></li> -->
					<li><a href="{% url 'blog-about' %}">About</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
						<li><a href="{% url 'post-create' %}">New Post</a></li>
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
		<script src='{% static "blog/js/script.js" %}'></script>
	</body>
</html>
