{% extends 'blog/base.html' %}
	{% block article %}
	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-11">
					<h1 class="page-title">Dashboard</h1><br>
					<table class = "table">
						<thead class = "thead-dark">
							<tr>
								<th scope = "col">Title</th>
								<th scope = "col">Date Posted</th>
								<th scope = "col">Author</th>
								<th scope = "col">Category</th>
								<th scope = "col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for post in posts %}
								<tr>
									<td><a href = "{% url 'post-detail' post.slug %}">{{post.title|truncatechars:25}}</a></td>
									<td>{{post.date_posted}}</td>
									<td>{{post.author}}</td>
									<td>{{post.category}}</td>
									<td><a class = "btn btn-primary" href = "{% url 'post-update' post.slug %}">Edit</a>		
										<a class = "btn btn-danger" href = "{% url 'post-delete' post.slug %}">Delete</button></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</main>
			</div>
		</div>
	</div>
	{% endblock article %}
