{% extends 'blog/base.html' %}

{% block article %}
    {% for post in posts %}
        <header class="entry-header">
            <h1 class="entry-title">
               {{post.title}}
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{post.category}}</a></span>

                <span class="post-date">{{post.date_posted}}</span>

                <span class="post-author"><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></span>

                {% comment %} <span class="comments-link"><a href="#">{{post.comments}}</a></span> {% endcomment %}
            </div>
        </header>
        <div class="entry-content clearfix">
            <p> {{ post.content | linebreaksbr | truncatewords:100}} </p>
            <div class="read-more cl-effect-14">
                {% comment %} post.id (id is pk, implicitly defined by django by default upon model creation) {% endcomment %}
                {% comment %} Later change to slug {% endcomment %}
                <a href=" {% url 'post-detail' post.slug %} " class="more-link">Continue reading <span class="meta-nav">→</span></a>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock article %}

{% block pagination %}
    {% if is_paginated %}
    <div class="pt-5">
        {% if page_obj.has_previous %}
            <!-- First pages link -->
            <a class="btn h2" href="?page=1"> << </a>
            <a class="btn h2" href="?page={{ page_obj.previous_page_number }}"> < </a> 
        {% endif %}
        
        <!-- Loops over all the pages we have -->
        {% for num in page_obj.paginator.page_range %}
            <!-- if we are on current page -->
            {% if page_obj.number == num %}
                <a class="btn btn-default h2" href="#">{{ num }}</a>
            <!-- If number of current page within 3 previous pages, we want to print them out -->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn h2" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <!-- Last pages link -->
            <a class="btn h2" href="?page={{ page_obj.next_page_number }}"> > </a>
            <a class="btn h2" href="?page={{ page_obj.paginator.num_pages }}"> >> </a> 
        {% endif %}

    </div>
    {% endif %}
{% endblock pagination %}

{% block side_content %}
    <aside class="col-md-4">
        <div class="widget widget-recent-posts">		
            <h3 class="widget-title">Recent Posts</h3>		
            <ul>
                {% for post in sidebar_posts %}
                <li>
                    <a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a>
                </li>
                {% endfor %}
                <a href="{% url 'blog-posts' %}">More >></a>
                {% comment %} <a href="#">More >></a> {% endcomment %}

            </ul>
        </div>
        <div class="widget widget-archives">		
            <h3 class="widget-title">Archives</h3>		
            <ul>
                {% for date in sidebar_archive %}
                <li>
                    <a href="{% url 'date-posts' date %}">{{date}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="widget widget-category">		
            <h3 class="widget-title">Categories</h3>		
            <ul>
                {% for category in sidebar_categories %}
                <li>
                    <a href="{% url 'category_posts' category %}">{{ category }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
{% endblock side_content %}