{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block article %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-11">
						<h1 class="page-title">Login</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<form action="#" method="POST" class="contact-form">
                                {% csrf_token %}
									<div class="row">
										<div class="col-md-6 col-md-offset-3">
											{{form | crispy}}
											<button class="btn btn-default"><span>Login</span></button>
										</div>
									</div>	<!-- row -->
								</form>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
{% endblock article %}