{% extends 'blog/base.html' %}

{% block article %}
    <div class="content-body">
                <div class="container">
                    <div class="row">
                        <main class="col-md-11">
                            <article class="post post-1">
                                <header class="entry-header">
                                    <h1 class="entry-title">
                                        You have been logged out!
                                    </h1>
                                </header>
                                <div class="entry-content clearfix">
                                    <div class="read-more cl-effect-14">
                                        <a href="{% url 'login'%}" class="more-link">Login<span class="meta-nav">→</span></a>
                                        <a href="{% url 'blog-home'%}" class="more-link">Home<span class="meta-nav">→</span></a>
                                    </div>
                                </div>
                            </article>             
                        </div>
                    </div>
                </div>
{% endblock article %}