{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% comment %} Same template used by both PostCreateView and PostUpdateView {% endcomment %}


{% block article %}
		{% comment %} <div class="content-body"> {% endcomment %}
			<div class="container">
				{% comment %} <div class="row"> {% endcomment %}
					<main class="col-md-11">
						<h1 class="page-title">New Post</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<form action="#" method="POST" class="contact-form">
                                {% csrf_token %}
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											{{form | crispy}}
											<button class="btn btn-default"><span>Post</span></button>
										</div>
									</div>	<!-- row -->
								</form>
							</div>
						</article>
					</main>
				{% comment %} </div> {% endcomment %}
			</div>
		{% comment %} </div> {% endcomment %}
{% endblock article %}

