{% extends 'blog/base.html' %}

{% block article %}
    <div class="content-body">
            <div class="container">
                <div class="row">
                    <main class="col-md-11">
                    <h1 class="page-title">Posted on {{ view.kwargs.date }} ({{ page_obj.paginator.count }})</h1>
                        <article class="post post-1">
                            {% comment %} csrf_token for post deletion via login {% endcomment %}
                                {% csrf_token %} 
                                {% for post in posts %}
                                <header class="entry-header">
                                    <h1 class="entry-title">
                                        {{post.title}}
                                    </h1>
                                    <div class="entry-meta">
                                        <span class="post-category"><a href="#">{{post.category}}</a></span>

                                        <span class="post-date">{{post.date_posted}}</span>

                                        <span class="post-author"><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></span>

                                        {% comment %} <span class="comments-link"><a href="#">{{post.comments}}</a></span> {% endcomment %}
                                    </div>
                                </header>
                                <div class="entry-content clearfix">
                                    <p>{{post.content | linebreaksbr | truncatewords:100}}</p>
                                    <div class="read-more cl-effect-14">
                                        <a href="{% url 'post-detail' post.slug%}" class="more-link">Read More<span class="meta-nav">→</span></a>
                                    </div>
                                </div>
                            {% endfor %}
                    </main>
                </div>
            </div>
        </div>
{% endblock article %}}

{% block pagination %}
    {% if is_paginated %}
    <div class="pt-5">
        {% if page_obj.has_previous %}
            <!-- First pages link -->
            <a class="btn h2" href="?page=1"> << </a>
            <a class="btn h2" href="?page={{ page_obj.previous_page_number }}"> < </a> 
        {% endif %}
        
        <!-- Loops over all the pages we have -->
        {% for num in page_obj.paginator.page_range %}
            <!-- if we are on current page -->
            {% if page_obj.number == num %}
                <a class="btn btn-default h2" href="#">{{ num }}</a>
            <!-- If number of current page within 3 previous pages, we want to print them out -->
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn h2" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <!-- Last pages link -->
            <a class="btn h2" href="?page={{ page_obj.next_page_number }}"> > </a>
            <a class="btn h2" href="?page={{ page_obj.paginator.num_pages }}"> >> </a> 
        {% endif %}

    </div>
    {% endif %}
{% endblock pagination %}