{% extends 'blog/base.html' %}
{% comment %} Same template used by both PostCreateView and PostUpdateView {% endcomment %}


{% block article %}
	{% comment %} <div class="content-body"> {% endcomment %}
		<div class="container">
			{% comment %} <div class="row"> {% endcomment %}
				<main class="col-md-11">
					<h1 class="page-title">Delete Post</h1>
					<article class="post">
						<div class="entry-content clearfix">
							<form action="#" method="POST" class="contact-form">
							{% csrf_token %}
								<div class="row" align = "center">
									<p>Are you sure you want to delete post <h2>"{{post.title}}"?</h2></p>
									<br><br><br>
									<div class="col-md-8 col-md-offset-2">
										<button class="btn btn-danger"><span>Delete</span></button>
										<a class="btn btn-default" href = "{% url 'post-detail' post.slug %}"><span>Cancel</span></a>
									</div>
								</div>	<!-- row -->
							</form>
						</div>
					</article>
				</main>
			{% comment %} </div> {% endcomment %}
		</div>
	{% comment %} </div> {% endcomment %}
{% endblock article %}

