{% extends 'blog/base.html' %}

{% block article %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-11">
						<article class="post post-1">
						{% comment %} csrf_token for post deletion via login {% endcomment %}
							{% csrf_token %} 
							<header class="entry-header">
								<h1 class="entry-title">
									{{post.title}}
								</h1>
								<div class="entry-meta">
                                    <span class="post-category"><a href="#">{{post.category}}</a></span>

                                    <span class="post-date">{{post.date_posted}}</span>

                                    <span class="post-author"><a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a></span>

                                    {% comment %} <span class="comments-link"><a href="#">{{post.comments}}</a></span> {% endcomment %}
                                </div>
							</header>
							<div class="entry-content clearfix">
								<p>{{post.content | linebreaksbr}}</p>
                                <div class="read-more cl-effect-14">
                                    <a href="{% url 'blog-home' %}" class="more-link">Home<span class="meta-nav">→</span></a>
									{% if post.author == user %}
                                    	<a href="{% url 'post-update' post.slug%}" class="more-link">Edit<span class="meta-nav">→</span></a>
                                    	<a href="{% url 'post-delete' post.slug%}" class="more-link">Delete<span class="meta-nav">→</span></a>
									{% endif %}
                                </div>
							</div>
						</article>
                	</main>
				</div>
			</div>
		</div>
{% endblock article %}